*{
    margin: 0;
    padding: 0;
}
.conatiner1{
    height: 91vh;
    display: flex;
}
.left-side{
    width: 30%;
    background: linear-gradient(to right, #c6c8c9 0%, #1579bb 100%);
}
.form-body{
    width: 70%;
    background-image: url("../photo/reg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.reg-Form{
    height: 415px;
    width: 320px;
    background-color: rgba(225, 102, 241, 0.986);
    color: rgb(12, 12, 12);
    margin: 11% 45%;
    border-radius: 10px;
}
.reg-Form input{
    margin: 10px 28px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 2px 5px;
    background-color: #d0d4d0;
}
.reg-Form select{
    margin: 10px 28px;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 263px;
    color: rgb(124, 119, 119);
    padding: 2px 5px;
    background-color: #d0d4d0;
}
.reg-Form .gender input{
    margin: 10px 10px;
}
.update-btn a{
    text-decoration: none;
    color: white;
}

