*{
    margin: 0;
    padding: 0;
}
.content-body{
    display: flex;
    height: 91vh;
}
.left-side{
    width: 25%;
    background: linear-gradient(to right, #0680a8 0%, #99d6ff 100%);
    text-align: center;
    padding-top: 30vh;
}
.right-side{
    width: 75%;
    background-image: url("../photo/user.png");
    background-repeat: no-repeat;
    background-size: cover;
}
